<div class="ui pusher">

  <div class="ui center aligned middle aligned grid">
    <div class="column">

      <div id="welcomeMessage" [ngClass]="{'hidden': !firstLoginAttempt }" class="ui attached floating blue message">
        <div class="header">
          <h2 class="ui primary-color image header">
            <img src="/images/logo_icon.png" class="image" routerLink="/home">
            <div class="content">
              Log-in to your account
            </div>
          </h2>
        </div>
        <a class="link">Forgot password?</a>
      </div>
      <div id="loggingInMessage" [ngClass]="{'hidden':  !loggingIn && (!loginErrorOccured || !serverErrorOccured) }"
           class="ui icon attached floating message">
        <i class="notched circle loading blue icon"></i>
        <div class="content">
          <div class="header">
            Logging in...
          </div>
        </div>
      </div>
      <div id="logginErrorOccurredMessage" [ngClass]="{'hidden': !loginErrorOccured }" id="invalidCredentials"
           class="ui icon attached orange floating message">
        <i (click)="closeLoginErrorOccuredMessage();" class="close icon"></i>
        <div class="header">
          {{ loginErrorMessageTitle }}
        </div>
        <div class="content">
          {{ loginErrorMessage }}
        </div>
      </div>

      <div id="serverErrorOccurredMessage" [ngClass]="{'hidden': !serverErrorOccured }"
           class="ui icon attached orange floating message">
        <i (click)="closeServerErrorOccuredMessage();" class="close icon"></i>
        <div class="header">
          {{ serverErrorMessageTitle }}
        </div>
        <div class="content">
          {{ serverErrorMessage }}
        </div>
      </div>
      <form class="ui form attached fluid middle aligned center aligned segment" [formGroup]='loginForm'>
        <div class="field">
          <label for="username">Username</label>
          <div class="ui left icon input">
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label for="password">Password</label>
          <div class="ui left icon input">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"/>
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" formControlName="remember">
              <label>Remember me</label>
            </div>
          </div>
          <div class="field">
            <input type="submit" (click)="auth($event);" value="Sign In" class="ui fluid primary button"/>
          </div>
        </div>
      </form>
      <div class="ui bottom floating blue attached message">
        <i class="large icon help"></i>
        <a class="link" (click)="closeOpenRegistration();">Create new account here.</a>
      </div>
    </div>
  </div>

</div>


