<div class="ui center aligned bottom attached inverted header container">
  <h1>About RiverLearn</h1>
</div>
<div class="ui very relaxed raised top attached container">
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

  <div class="ui stackable grid">
    <div class="five wide column">
      <div class="ui fluid card">
        <div class="ui image">
          <img src="/images/pns.jpg">
        </div>
        <div class="content">
          <a class="header">Njenga Saruni</a>
          <div class="meta">
            <span class="date">Chief Executive Officer</span>
          </div>
          <div class="description">
            The unsad.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            njengasaruni@gmail.com
          </a>
        </div>
      </div>
    </div>

    <div class="ui eleven wide column">
      <div class="segment">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      </div>
    </div>
  </div>
  <div class="ui stackable grid">
    <div class="ui eleven wide column">
      <div class="segment">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      </div>
    </div>
    <div class="five wide column">
      <div class="ui fluid card">
        <div class="ui image">
          <img src="/images/kwanj.jpg">
        </div>
        <div class="content">
          <a class="header">Mwangi Mwangi</a>
          <div class="meta">
            <span class="date">Joined in 2015</span>
          </div>
          <div class="description">
            Mwangi Mwangi, first of his name.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            mwangikelvin23@gmail.com
          </a>
        </div>
      </div>
    </div>

  </div>
</div>


