<div class="ui modal" id="image-modal">
  <img [src]="selectedImage?.url" class="ui massive image">
</div>
<div class="ui dividing header">Recent Feed</div>
<div class="ui feed">
  <div class="ui active inverted dimmer" *ngIf="!contentReady">
    <div class="ui medium text loader">Loading</div>
  </div>
  <div class="ui floating fixed segment event">
    <div class="label">
      <img src="{{ userProfile?.image.url }}">
    </div>

    <div class="ui content">
      <mat-form-field>
              <textarea matInput placeholder="Post a question, idea, theory..." class="mat-input"
                        [(ngModel)]="post" [ngModelOptions]="{standalone: true}"
                        (focus)="togglePostButton()" (blur)="togglePostButton()" (keyup.enter)="savePost()">
              </textarea>
      </mat-form-field>
      <div class="ui buttons">
        <input type="file" #imageInput class="inputfile" id="gallery-photo-add" multiple/>
        <label for="gallery-photo-add" class="ui primary button">
          <i class="image icon"></i>
          Attach Files
        </label>
      </div>

      <button class="ui primary right floated labeled submit icon button"
              id="post-post-button" style="display:none;" (click)="savePost()" [disabled]="!post">
        <i class="icon edit" ></i> Post
      </button>
      <div class="gallery" *ngIf="!hideGallery"></div>

    </div>
  </div>

  <div class="ui event floating relaxed segment" *ngFor="let post of posts; index as i">
    <div class="label">
      <img src="{{ post.created_by.profiles[0].image.url }}" routerLink="/dashboard/students/{{post.created_by.student}}">
    </div>
    <div class="content">
      <div class="summary">
        <a>{{ post.created_by.full_name }}</a>
        <div class="date">
          {{ post.created_at | date : 'medium'}}
        </div>
      </div>
      <div class="text">
        {{ post.text }}
      </div>

      <div class="extra images" (click)="openImageModal()">
        <a *ngFor="let image of post.images" (click)="openImageModal(image)"><img src="{{ image.url }}"></a>
      </div>

      <div class="ui two column grid buttons">
        <div class="ui action basic column button" (click)="like(post)">
          <i class="icon like"></i>
          Like
        </div>
        <div class="ui action basic column button" (click)="openComments(i)">
          <i class="icon comments outline"></i>
          Comments
        </div>
      </div>
      <div class="class meta">
        <span class="date">
           <i class="icon like"></i> {{ post.likes }}
        </span>
      </div>

      <div class="ui threaded comments" id="comments{{ i }}" style="display:none;">
        <div class="comment" *ngFor="let comment of post.comments">
          <a class="avatar">
            <img src="/images/avatar/small/matt.jpg">
          </a>
          <div class="content">
            <a class="author">Matt</a>
            <div class="metadata">
              <span class="date">Today at 5:42PM</span>
            </div>
            <div class="text">
              How artistic!
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
        <form class="ui reply form">
          <mat-form-field>
              <textarea matInput placeholder="Post a reply..." class="mat-input"
                        (keyup.enter)="submitReply($event, post)">
              </textarea>
          </mat-form-field>
        </form>
      </div>

    </div>

  </div>

</div>

