.demo-chart {
  height: 400px;
}

.menu .item {
  color: #0e5a77;
  font: bolder !important;
}

.dropdown input {
  color: #0e5a77 !important;
}

.ui.blue.filter.message {
  background-color: #0e5a77;
}

.ui.form .field .ui.input, .ui.form .fields .field .ui.input, .ui.form .wide.field .ui.input {
  width: inherit;
}

.empty.circular.label {
  background-color: #cd9a36 !important;
}
