<div class="ui raised blue segment">
  <div class="ui dividing header">
    <h3>Add exam paper</h3>
  </div>
  <form class="ui form" [formGroup]="paperForm" #form="ngForm">
    <div class="ui three fields">
      <div class="required field">
        <label>Exam</label>
        <select class="ui fluid selection dropdown" formControlName="exam" (change)="onExamChange($event)" id="exam">
          <option *ngFor="let exam of exams" [value]="exam.id">
            {{ exam.name }}
          </option>
        </select>
      </div>
      <div class="required field">
        <label>Subject</label>
        <select class="ui fluid selection dropdown" formControlName="subject" >
          <option *ngFor="let subject of subjects" [value]="subject.id">
            {{ subject.name }}
          </option>
        </select>
      </div>
      <div class="ui field">
        <label>Total Mark</label>
        <input placeholder="e.g. 100" formControlName="total_mark" type="number">
      </div>
    </div>
    <div class="ui three fields">
      <div class="ui required field">
        <label>
          Class <span>(At least one required)</span>
        </label>
        <select class="ui fluid selection dropdown" formControlName="classes" multiple="" id="classes">
          <option *ngFor="let class of classes" [value]="class.id" >
            {{ class.name }}
          </option>
        </select>
      </div>
      <div class="ui field">
        <label>PDF</label>
        <input type="file" #fileInput type="file" formControlName="url">
      </div>
      <div class="ui field">
        <label>Location of exam</label>
        <select class="ui fluid selection dropdown" formControlName="location">
          <option *ngFor="let classRoom of classRooms" [value]="classRoom.id" >
            {{ classRoom.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="ui three fields">
      <div class="ui required field">
        <mat-form-field>
          <input matInput [matDatepicker]="start_picker" placeholder="Choose date of exam paper"
                 formControlName="start" class="mat-input">
          <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
          <mat-datepicker #start_picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="ui field">
        <label>Start Time</label>
        <div class="ui three fields">
          <div class="ui field"
               [ngClass]="{ 'error' : paperForm.get('time_hour').value > 12 || paperForm.get('time_hour').value < 1}">
            <input type="number" min="1" max="12" placeholder="HH" formControlName="time_hour" (keydown)="checkTime()">
          </div>

          <div class="ui field"
               [ngClass]="{ 'error' : paperForm.get('time_minute').value > 59 || paperForm.get('time_minute').value < 0 }">
            <input type="number" min="00" max="59" placeholder="MM" formControlName="time_minute">
          </div>

          <div class="ui field">
            <select class="ui selection dropdown" formControlName="time_period">
              <option value="1">AM</option>
              <option value="2">PM</option>
            </select>
          </div>
        </div>
      </div>

      <div class="ui required field">
        <label>Duration</label>
        <div class="ui two fields">
          <div class="ui field">
            <input placeholder="Hours" type="number" formControlName="duration_hours" min="0">
          </div>
          <div class="ui field">
            <input placeholder="Minutes" type="number" min="0" max="59"
                   formControlName="duration_minutes" (change)="setMinutes($event)">
          </div>
        </div>
      </div>
    </div>

    <div class="ui fields">
      <div class="ui field">
        <div class="ui primary labeled icon button" (click)="savePaper($event)">
          <i class="icon save"></i>
          Save
        </div>
      </div>
    </div>
  </form>
  <div class="ui red message" *ngIf="errors.length > 0">
    <div class="content">
      <p *ngFor="let error of errors">{{ error }}</p>
    </div>
  </div>
</div>
