.mat-form-field {
  border: none !important;
  color: #0e5a77;
  width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.ui.divided.list > .item {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  padding: 10px;
}

.icon.message {
  cursor: pointer;
}

.ui.icon.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.icon.message:hover  {
  background-color: #F3F4F5;
  color: #0e5a77 !important;
}
.ui.icon.input {
  min-width: -webkit-fill-available;
}


