.mat-form-field {
  border: none !important;

  color: #0e5a77;
  width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.ui.divided.list > .item {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  padding: 10px;
}

.item {
  padding: 4px;
  cursor: pointer;
}
.item:hover  {
  background-color: #F3F4F5;
}
.ui.icon.input {
  min-width: -webkit-fill-available;
}


