.example-full-width {
  width: 100%;
}

.ui.form .field .ui.input, .ui.form .fields .field .ui.input, .ui.form .wide.field .ui.input {
  width: inherit;
}

.chart-inner-text {
  fill: #00BAFF;
  color: #00BAFF;
  font-size: 30px;
  font-family: Verdana;
}

.filler {
  height: 400px;
  padding-top: 100px;
}
