<div class="ui form blue filter message">
  <div class="ui two fields">
    <div class="field">
      <div class="ui floating dropdown labeled icon fluid  fluid button"
           id="line-levels-dropdown" (click)="openDropdown($event)">
        <i class="filter icon"></i>
        <span class="text">Select Level</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input placeholder="Search levels..." type="text">
          </div>
          <div class="divider"></div>
          <div class="header">
            <i class="tags icon"></i>
            Level
          </div>
          <div class="scrolling menu">
            <div class="item" *ngFor="let level of levels" (click)="onSelectLevel(level)">
              <div class="ui teal empty circular label"></div>
              {{ level.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui floating labeled icon fluid button dropdown">
        <i class="filter icon"></i>
        <span class="text">Select Class</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input placeholder="Search classes..." type="text">
          </div>
          <div class="divider"></div>
          <div class="header">
            <i class="tags icon"></i>
            Class
          </div>
          <div class="scrolling menu">
            <div class="item" *ngFor="let class of classes" (click)="onSelectClass(class)">
              <div class="ui red empty circular label"></div>
              {{ class.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted active dimmer" *ngIf="loadingGraph">
  <mat-progress-bar
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value"
    [bufferValue]="bufferValue">
  </mat-progress-bar>
</div>
<jqxChart
  [width]="'100%'" [height]="500"
  [colorScheme]="colorScheme"
  [source]="resultsData"
  [xAxis]="xAxis" [valueAxis]="valueAxis"
  [seriesGroups]="seriesGroups"
  #subjectLineChart>
</jqxChart>
<div class="ui labeled icon primary button" (click)="printChart()">
  <i class="icon print"></i>
  Print
</div>
