<div class="ui form blue message">
  <div class="ui two fields">
    <div class="field">
      <div class="ui fluid search selection dropdown" id="levels-dropdown" (click)="openDropdown()">
        <input name="user" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Select Level</div>
        <div class="menu">
          <div class="item" *ngFor="let level of levels" (click)="onSelectLevel(level)">
            {{ level.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui fluid search selection dropdown">
        <input name="user" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Select Class</div>
        <div class="menu">
          <div class="item" *ngFor="let class of classes" (click)="onSelectClass(class)">
            {{ class.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted active dimmer" *ngIf="loadingGraph">
  <mat-progress-bar
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value"
    [bufferValue]="bufferValue">
  </mat-progress-bar>
</div>
<jqxChart
  [width]="'100%'" [height]="500"
  [colorScheme]="colorScheme"
  [source]="resultsData"
  [xAxis]="xAxis" [valueAxis]="valueAxis"
  [seriesGroups]="seriesGroups"
  #subjectLineChart>
</jqxChart>
<div class="ui labeled icon primary button" (click)="printChart()">
  <i class="icon print"></i>
  Print
</div>
